<template>
    <div id="question-item">
        <h3 v-html="question.question"></h3>
        <button v-html="answer" v-on:click="onAnswerClicked(answer)" v-for="answer of answers" :key="answer" :title="answer"></button>

        <!-- multiple or boolean -->
    </div>
</template>

<script>
export default {
    name: 'QuestionItem',
    props: {
        question: {
            type: Object
        },
    },
    created() {
        this.initialize(false);
    },
    watch: {
        question: function(){
            this.initialize()
        }
    }, 
    data() {
        return {
            answers: []
        }
    },
    methods: {
        initialize() {
            if(!this.question) {
                return;
            }
            this.answers = [...this.question.incorrect_answers, this.question.correct_answer];
            this.shuffleAnswers(this.answers);
        },
        onAnswerClicked(answer) {
            this.$emit('answer-clicked', answer);
            console.log(answer);
        },
        shuffleAnswers(answers) {
           for(let i = answers.length-1; i > 0; i--){
               const j = Math.floor(Math.random()*(i+1));
               [ answers[i], answers[j] ] = [ answers[j], answers[i] ];
           }
        }
        
    }
}
</script>

<style scoped>
</style>