<template>
  <div>
    <p>{{score}}</p>
    <div v-if="questions.length > 0">
      <QuestionItem v-on:answer-clicked="handleAnswerClicked" :question="questions[questionIndex]"></QuestionItem>
    </div>
    <div v-else>
      <p>Loading questions...</p>
    </div>
  </div>
</template>

<script>
import { getAllQuestions } from "../api/questions.api";
import QuestionItem from "./QuestionItem";

export default {
  name: "Questions",
  components: {
    QuestionItem,
  },

  async created() {
    try {
      this.questions = await getAllQuestions();
      console.log(this.questions);
    } catch (error) {
      console.error(error);
    }
  },
  data() {
    return {
      questions: [],
      currentQuestion: null,
      questionIndex: 0,
      answers: [],
      userAnswers: [],
      score: 0,
    };
  },
  methods: {
    handleAnswerClicked(answer) {
      
      this.userAnswers.push(answer);
      this.addScore(answer);
      this.isFinished();
      this.questionIndex++;
    },

    addScore(answer) {
      if (answer === this.questions[this.questionIndex].correct_answer) {
        this.score += 10;
      }
    },

    isFinished() {
      if (this.questions.length === this.questionIndex + 1) {
        this.$router.push({
          name: "result",
          params: {
            questions: this.questions,
            userAnswers: this.userAnswers,
            score: this.score,
          },
        });
      }
    },

  },
};
</script>

<style scoped>
</style>