<template>
    <div>
        <h2>Result</h2>
        <h3>You got {{score}} points</h3>
         <ResultItem v-for="question of questions" :question="question" :key="question.question" :userAnswer="userAnswers[questions.indexOf(question)]"></ResultItem>
    </div>
</template>

<script>
import ResultItem from './ResultItem';

export default {
    name: "ResultScreen",
    components: {
        ResultItem,

    },

    created() {
        console.log(this.$route.params);
    },

    data() {
        return {
            score: this.$route.params.score,
            userAnswers: this.$route.params.userAnswers,
            questions: this.$route.params.questions
        }
    }
}
</script>

<style lang="sass" scoped>

</style>