<template>
  <div>
    <h3 v-html="question.question"></h3>

    <p>User answered: <span v-html="userAnswer"> </span></p>
    <p> Correct answer to the question was: <span v-html="question.correct_answer"> </span></p>
  </div>
</template>

<script>
export default {
  name: "ResultItem",
  props: {
    question: {
      type: Object,
    },
    userAnswer: {
      type: String,
    },
  },
};
</script>

<style>
</style>