<template>
    <div id="startscreen">
        <div class="app-title">
            <h3>{{title}}</h3>
            <router-link to="/questions">
                <p>Press here to start the trivia!</p>
            </router-link>
        </div>
    </div>
</template>
<script>
export default {
    name: "StartScreen",
    data() {
        return {
            title: "Welcome to our amazing trivia game!"
        }
    }, 
    methods: {

    }
}
</script>
<style scoped>
    .app-title {
        font-family:'Courier New', Courier, monospace;
    }
</style>