<template>
  <div id="app">
    
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>

import Questions from './components/Questions'

export default {
  name: 'App',

  data() {
    return {
      score: 0,
      userAnswers: Questions.propUserAnswers,
      questions: Questions.propQuestions
    }
  },


}



</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
